{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/bookEvent.css' %}" type="text/css">

</head>


    <div class = "contrainer" >
        <div class="row">
            <div class="col-sm-6 box">
                <div class = "form">
                    <div class="pad">
                        <p class="text1"> Book Your Event</p>  
                        <form method = "POST" action = "">
                            {% csrf_token %}
                            {% for i in form %}
                                <p class="label_tag">{{ i.label_tag }} <br> {{ i }} </p> 
                            {% endfor %}
                            <input type = "submit" value="Book" action= "">
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>




{% endblock %}
