{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/bookEvent.css' %}" type="text/css">
</head>

<body>
    <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text3">
                            <h1 class="text4">You are registered</h1>
                            <a>
                                <p class="thick text5">Thankyou Member! 
                                    <br> Your booking has been confirmed.
                                </p>
                            </a>      
                            <a href = "{% url 'home' %}">  
                                <p class="thick text5"> Get to know what's <strong>trending</strong></p>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
</body>


{% endblock %}
