{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
</head>

<div class="container">
	<div class="row">
		<div class="col-md-6 position">
			<div class="main-text">
				<article>Get in</article>
				<article>The Now!</article>
			</div>
			<div class="roundedrec">
				<div class="insiderec">
					<div class="explanation">
						<article>a website for those who are looking for events and news</article>
						<br>
						<article class="developer">Developer</article>
						<ul class="developer">
							<li>Ali Yusuf (1706044061)</li>
							<li>Irene Pixelyne (1706984631)</li>
							<li>Nabilla Yuli Shafira (1706984682)</li>
							<li>Rahmadian Tio Pratama (1706044074)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<!-- {% if user.is_authenticated %}
				
			{% else %}
			<div class="join">
					<a href="{% url 'regismember:regismember' %}">
						<img src="{% static "photos/join.png" %}" class="join">
					</a>
			</div>
			{% endif %} -->
			
			<div class="head-text">
				<div class="poster-position">
					<article>Discover Event</article>
					<br>
					<img src="{% static "photos/posters.png" %}" class="poster-size">
					<a href="{% url 'event:event' %}">
						<p class="see-all">see all ></p>
					</a>
				</div>
				<div class="news-position">
					<article>Discover News</article>
					<br>
					<img src="{% static "photos/news.png" %}" class="news-size">
					<a href="{% url 'news:news' %}">
						<p class="see-all">see all ></p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}