{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/bookEvent.css' %}" type="text/css">
</head>

<body>
    <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text3">
                            <h1 class="text4">You are registered for {{target}}</h1><br>
                                Booking details : <br>
                                Date : {{target.date}} <br>
                                Location : {{target.place}}<br>
                                Price : {{target.price}}<br><br>
                                {{target.description}}<br><br>
                            <a>
                                <p class="thick text5">Thankyou! 
                                    <br> Your booking has been confirmed
                                    <p id="countmesg"></p>
                                </p>
                            </a>      
                        </div>
                    </div>
            </div>
        </div>
</body>

<script type="text/javascript">
    $(document).ready(function() {
    var delay = 10;
    var url = "{% url 'home' %}";
    function countdown() {
        setTimeout(countdown, 1000) ;
        $('#countmesg').html("Redirecting in "  + delay  + " seconds.");
        delay --;
        if (delay < 0 ) {
            window.location = url ;
            delay = 0 ;
        }
    }
    countdown() ;
    });
</script>

{% endblock %}
