{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/regisMember.css' %}" type="text/css">
</head>

<body>
    <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text-sign">
                            <h1 class="signed-in">You are signed in!</h1>
                            <a href="{% url 'home' %}">
                                <p class="thick text-brown">Get to know what's <strong> trending</strong></p>
                                <br>
                                <a href="{% url 'regismember:listmember' %}">
                                    <input type="submit" value="PEOPLE ON TRENDING" action="{% url 'regismember:listmember' %}">
                                </a>
                            </a>
                        </div>
                    </div>
            </div>
        </div>

</body>


{% endblock %}