{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/regisMember.css' %}" type="text/css">
</head>


<div class="container">
    <div class="row">
        <div class="col-md-4 text-center list">
            <div class="roundedrec">
                <div class="insiderec">
                        <p class="signed-in">Hello!</p>
                    <table style="width:100%">
                        {% if members %}
                            {% for x in members %}
                            <tr>
                                <td class="isi">{{ x.fullname }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <p class="thick text-brown">You're the first!</p>
                        {% endif %}
                    </table>
                </div>
            </div>
            <a href="{% url 'regismember:regismember' %}"><input type="submit" value="Can't find your name?" action="{% url 'regismember:regismember' %}"></a>
        </div>
    </div>
</div>

{% endblock %}