{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/regisMember.css' %}" type="text/css">
</head>


<div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="roundedrec">
                    <div class="insiderec">
					{% if user.is_authenticated %}
					<h1 class="signed-in">You already signed in!</h1>
					<a href="{% url 'home' %}">
                                <p class="thick text-brown">Get to know what's <strong> trending</strong></p>
                                <br>
								</a>
					{% else %}
                            <p class="sign-up">Sign Up</p>
                            <form  method="POST" action="">
                                {% csrf_token %}
                                {% for field in form %}
                                    <p class="label_tag">{{ field.label_tag }} <br> {{ field }} </p> 
									<p class="label_tag">{{ field.errors }}</p> 
                                {% endfor %}
                                <input type="submit" id="submit" value="JOIN US" action="confirmationpage">
                            </form>
							<center>  
                            <br>
							<p class="label_tag">or</p>
							<div class="google" style="margin-bottom:20px">
							 <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
								 <div class="left">
									 <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
								 </div>
								 <p class="label_tag1">Sign up with Google</p>
							 </a>
							</div> 
							<p class="label_tag1">Already have account? <a href="{% url 'login' %}">Sign in</a></p>            
							</center>
						{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}