{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/regisMember.css' %}" type="text/css">
</head>

        <div class="outside">
            <div class="insiderec">
                <h2 id="hold">Hold up!</h2><br>
                <p>You are not signed in. Sign in and enjoy the benefits!<br><br>
                    Here are the benefits of sign in : <br>
                    1. Book any event you want <br>
                    2. See your booking history <br>
                    3. Write on our comment section <br>
                    {% csrf_token %} 
                    <a href= "{% url 'login' %}"> <button id="labelBook" class="btn btn-default mini">Sign in</button></a><br><br>
                    Don't have an account?<br>
                    {% csrf_token %} 
                    <a href= "{% url 'regismember:regismember' %}"> <button id="labelBook" class="btn btn-default mini">Sign up</button></a><br>
                </p>
            </div>
        </div>

{% endblock %}