{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/regisMember.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/eventDetails.css' %}" type="text/css">
</head>


<div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="roundedrec">
                    <div class="insiderec">
					{% if user.is_authenticated %}
					<h1 class="signed-in">You already signed in!</h1>
					<a href="{% url 'home' %}">
                                <p class="thick text-brown">Get to know what's <strong> trending</strong></p>
                                <br>
								</a>
					{% else %}
                            <p class="sign-up">Sign In</p>
                            <form id="formLogin" method="POST" action="">
                                {% csrf_token %}
                                {% for field in form %}
                                    <p class="label_tag">{{ field.label_tag }} <br> {{ field }} </p> 
									<p class="label_tag">{{ field.errors }}</p> 
                                {% endfor %}
								
                                <input type="submit" value="JOIN US" action="confirmationpage">
                            </form>
							<center>
							<p><strong>-- OR --</strong></p>
							<div class="google" style="margin-bottom:20px">
								<a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
								<div class="left">
									<img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
								</div>
								Sign In with Google
								</a>
							</div> 
							</center>
					{% endif %}
					</div>
                </div>
            </div>
        </div>
		<div id="modals" class="modal">Wrong Username or Password!</div>
    </div>
	


{% endblock %}