{% load static %}

.image{
	height:480px;
	width:300px;
	box-shadow: 5px 5px  grey;
	margin-bottom:-50px;
}
#price{
	margin-top:1px; 
	border:3px #FF3D00 solid;
	background-color:#60000000;
	width:280px;
	border-radius:15px;	
}
#price:hover{
	margin-top:1px; 
	border:3px #FF3D00 solid;
	background-color:#FF3D00;
	color:#FFFFFF;
	width:280px;
	border-radius:15px;	
}

.submit{
	margin-left:2vmax;
	margin-top:30px; 
	background-color:#FF3D00;
	color:#FFFFFF;
	border-radius:15px;	
	height:32px;
	
}

.hasil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 300px;
    height: 100px;
    background-color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .16);
	border-radius:20px;	
}


#label{
	margin-top:20px; 
	background-color:#FF3D00;
	color:#FFFFFF;
	border-radius:15px;	
}

#details{
	color:#6A5C55;
	margin-bottom:100px
}

#zoom{
	margin-top:20px;
	margin-bottom:20px;
}
#zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
	transition: transform .4s;
    box-shadow: 7px 7px 10px  grey;
}
body{
	background: url('../photos/EventBg.png') !important;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat !important;
	background-size:cover !important;
	font-family: 'Suez One', serif;
    
}

#lala{
	padding-left: 20%;
	padding-right: 20%
}
