body, html {
    height: 100%;
    font-family: 'Suez One', serif;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F4F3EE;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    background-image: url(../photos/arrow_bg.png)
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 15px; 
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 3px; 
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 15px; 
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 3px; 
    resize: vertical;
}

input[type=date], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 15px; 
    box-sizing: border-box; 
    margin-top: 5px;
    margin-bottom: 3px; 
    resize: vertical 
} 

input[type=password], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 15px; 
    box-sizing: border-box; 
    margin-top: 5px;
    margin-bottom: 3px; 
    resize: vertical 
} 

input[type=submit] {
    width: 100%;
    background-color: #FF3D00;
    color: #ffffff;
    margin-top: 10px; 
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.text_btn{
    width: 100%;
    background-color: #FF3D00;
    color: #ffffff;
    margin-top: 10px; 
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.label_tag{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    color: #6A5C55;
    opacity: 0.5;
}

.text1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    color: #6A5C55;
    text-align: center;
}

.form {
    border-radius: 15px;
    background: #F4F3EE ;
    box-shadow: 0px 0px 10px 1px rgba(116, 116, 116, 0.1);
    margin-top:70px;
    margin-bottom:1px;

}

.pad {
    padding: 20px;
}

#imageWrapper2 { 
    position: relative; height: 100px; 
}

.bottomImageCenterTech { 
    display: block;
    margin-right: auto; 
    margin-top: 0px;
    bottom: 0px; 
    max-width: 700px;
    z-index: -1; 
}

/* Confirmation Page */

.text3 {
    margin-top: 80px;
    margin-bottom: 280px;
}

.text4{
    font-family: 'Suez One', serif;
    font-size: 40px;
    color: #FF3D00;
}

.trending-red{
    color: #FF3D00;
}

.text5{
    color: #6A5C55;
}

a:hover {
    color: #FF3D00;
}

#countmesg{
    color: #6A5C55;
}