body, html {
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: 'Suez One', serif;
    font-family: 'Nunito Sans', sans-serif;
  }

.navbar{
    background: #FF3D00;
    flex: 0 0 auto;
}

.trending_logo{
    font-family: 'Suez One', serif;
    font-size: 20px;
    color: #ffffff
}

.navbar .navbar-nav li a {
    color: #ffffff !important;
    font-family: 'Suez One', serif;
    font-size: 15px;
}

.navbar .navbar-nav li a:hover {
    color: #6A5C55 !important;
}

.socmed-logo{
    max-width: 7px;
}
/* 
 html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

#myFooter {
    background-color: #F4F3EE;
    color: #6A5C55;
}


@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 20px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

.copyright{
    color: #6A5C55 !important;
    font-family: 'Suez One', serif;
    font-size: 7px;
    text-align: center;
}

.centerpict {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
