{% load static %}
.image{
	height:480px;
	width:300px;
	box-shadow: 5px 5px  grey;
	margin-bottom:-50px;
}
#price{
	margin-top:1px; 
	border:3px #FF3D00 solid;
	background-color:#60000000;
	width:280px;
	border-radius:15px;	
}
#price:hover{
	margin-top:1px; 
	border:3px #FF3D00 solid;
	background-color:#FF3D00;
	color:#FFFFFF;
	width:280px;
	border-radius:15px;	
}
#label{
	margin-left:2vmax;
	margin-top:40px; 
	background-color:#FF3D00;
	color:#FFFFFF;
	border-radius:15px;	
	height:32px;
	
}
#labelBook{
	margin-top:30px;
	border:3px #FF3D00 solid;
	background-color:#60000000;
	border-radius:20px;	
	width:100px;
		
}
#labelBookMember{
	margin-top:30px;
	border:3px #FF3D00 solid;
	background-color:#60000000;
	border-radius:20px;	
	width:100px;
		
}

#labelBookMember:hover{
	margin-top:30px;
	background-color:#FF3D00;
	color:#FFFFFF;
	border-radius:20px;	
	width:100px;
}

#labelBook:hover{
	margin-top:30px;
	background-color:#FF3D00;
	color:#FFFFFF;
	border-radius:20px;	
	width:100px;
}
#details{
	color:#6A5C55;
	margin-bottom:100px
}

#zoom{
	margin-top:20px;
	margin-bottom:20px;
}
#zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
	transition: transform .4s;
    box-shadow: 7px 7px 10px  grey;
}

.modal a.close-modal[class*="icon-"] {
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #900;
  border: 2px solid #fff;
  -webkit-border-radius:  26px;
  -moz-border-radius:     26px;
  -o-border-radius:       26px;
  -ms-border-radius:      26px;
  -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}
body{
	background: url('../photos/EventBg.png') !important;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat !important;
	background-size:cover !important;
	font-family: 'Suez One', serif;
    
}