body, html {
    height: 100%;
    font-family: 'Suez One', serif;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F4F3EE;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    background-image: url(../photos/home_cover.png);
}

.main-text{
    color: #6A5C55;
    font-family: 'Suez One', serif;
    font-size: 60px;
}

.explanation{
    color: #6A5C55;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}

.developer{
    color: #6A5C55;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
}

.roundedrec {
    background: #F4F3EE ;
    margin-top:20px;
    background: rgba(255, 255, 255,.5);
}

.insiderec {
    padding: 20px;
}

.position{
    margin-top: 50px;
}

.head-text{
    color: #6A5C55;
    font-family: 'Suez One', serif;
    font-size: 20px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.poster-size{
    max-width: 250px;
}

.news-size{
    max-width: 350px;
}

.poster-position{
    margin-top: 30px;
    padding: 20px;
}

.news-position{
    margin-top:30px;
    padding: 20px;
}

.join{
    margin-top: 10px;
    float: right;
    max-width: 50px; 
}

.see-all{
    color: #6A5C55;
    font-family: 'Suez One', serif;
    font-size: 15px;
    text-align: right;
}