{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

	.disc-img {
		display: block;
		width: 100%;
		height: auto;
		padding: 30px;
	}
	
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: rgb(252, 62, 5)
	}
	
	.container:hover .overlay {
		opacity: 1;
	}
	
	.text {
		color: white;
		font-size: 18px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}
</style>
<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
</head>
<body>
	<div style='color:#6A5C55; margin-left:4vmax; margin-right:4vmax; margin-top:10px'>
		<br>
		<h1 style='text-align: center; font-size: 20px '><strong> About Us</strong></h1>
		<h4 style='text-align: center; font-size: 18px '> Looking for an event? 
			Starting from our web design and programming class's assignment, 
			trending is here to help you find the event you need and keep you updated with our news page!
			We are here to keep you up with what's trending! <h4>
	</div>
	<center><h4 id='label' style="width:300px; font-size: 15px; justify-content: center; align-items: center"> Meet The Team!</h4></center>
	<br>
	<div class="row text-center" >
		<div class="col-sm-3 center-align">
			<div class="container">
				<img class="disc-img" alt="Avatar" src="{% static 'photos/Webp.net-resizeimage.jpg' %}">
				<div class="overlay">
					<div class="text">Ali Yusuf</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3 center-align">
			<div class="container">
				<img class="disc-img" alt="Avatar" src="{% static 'photos/iren.png' %}">
				<div class="overlay">
					<div class="text">Irene Pixelyne</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3 center-align">
			<div class="container">
				<img class="disc-img" alt="Avatar" src="{% static 'photos/nana.jpg' %}">
				<div class="overlay">
					<div class="text">Nabilla Yuli Shafira</div>
				</div>
			</div>
		</div> 
		<div class="col-sm-3 center-align">
			<div class="container">
				<img class="disc-img" alt="Avatar" srcset="{% static 'photos/tioo.png' %}">
				<div class="overlay">
					<div class="text">Rahmadian Tio Pratama</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class='container-fluid bg-3 text-center'></div>
		{% if user.is_authenticated %}
		<center><h4 id='label' style="width:300px; font-size: 15px; justify-content: center; align-items: center">Write your feedback</h4> </center>
		<div class="row">
			<div class="col-sm-12 text-center">
				<br> 
				<form method="POST" id="post-form">
					<div class="fieldWrapper" id="the_post">
							{% csrf_token %} {{ form }}
						<div id="results"></div> <!-- errors go here -->
						<input class="submit" type="submit" id="submit" value="Post">
					</div>
				</form>
			</div>
		</div>
		<center><h4 id='label' style="width:300px; font-size: 15px; justify-content: center; align-items: center"> What other says about Trending?</h4></center>
		<div class="row">
			<br>
			<div class="col-sm-12 text-center justify-content: center; align-items: center">
				{% if comments %}
					{% for data in comments %}
					<div class="hasil" >
						<p> " {{data.comment}}  " <br> {{ data.author}} - <i class="fas fa-calendar-alt"> </i>{{ data.created_at }}</p>
					</div>
					{% endfor %}
				{% endif %}
				<div class="result" id="res"></div>
			</div>
		</div>
	
		{% else %}
		<center><h4 style="color:#6A5C55; font-size: 15px; justify-content: center; align-items: center">Login and write your feedback!</h4></center>
		<center><h4 id='label' style="width:300px; font-size: 15px; justify-content: center; align-items: center"> What other says about Trending?</h4></center>
		<div class="row">
			<div class="col-sm-12 text-center  justify-content: center; align-items: center">
				{% if comments %}
					{% for data in comments %}
					<div class="hasil">
						<p> " {{data.comment}}  " <br> {{ data.author }} - <i class="fas fa-calendar-alt"> </i>{{ data.created_at }}</p>
					</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
	<br><br><br><br>
   
</body>

<script>

$('#post-form').on('submit', function(event){
    event.preventDefault();
	console.log("form submitted!")  // sanity check
	renderResult()
});
 function renderResult() {
	console.log("create post is working!")
	$.ajax({
		method: 'POST',
		url: 'getComment/',
		async : true,
		data : {
			csrfmiddlewaretoken: '{{ csrf_token }}', //to handle the csrf
			the_post : $('#post-text').val() 
		},     
		success: function (json) {
			$('#post-text').val('');
			$('#res').prepend("<div class='col-sm-12 text-center justify-content: center; align-items: center'>"
								+ '<div class="container">'
                                +'<div class="hasil">'
                                +'<p>' + '" ' + json.comment + ' "'+ '<br>' + json.author + ' - ' + json.created_at + '</p>'
                                +'</div>'
                                +'</div>'
								+'</div>'
                                +'</div>'
                                +'</div>'
                                // +"<p style='color:red'>*Your message will be save. And this is your preview message</p>"                                 
                                );

			
		},
		error : function(xhr,errmsg,err) {
            $('#post-text').val(''); 
            console.log("fail");    
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg); // add the error to the dom
        }   
	})
    }
</script>

{% endblock %} 
