{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'css/eventDetails.css' %}" type="text/css">
</head>

<div class="container-fluid bg-3 text-center" style="margin-top:50px" id='details'>
		<div class="row">
			<div  class="col-sm col-md">
				<img class='image' src= {{ event.pict }}>
			</div>
			<div  class="col-sm col-md" style="margin-top:100px">
				<h1>{{ event.name }} </h1>
				{% if event.price == 'Coming Soon' %}
				<h5>{{ event.description }}</h5>
				{% else %}
				<h4>{{ event.date }}, in {{ event.place }}</h4>
				<h5>{{ event.description }}</h5>
				{% if user.is_authenticated %}
				<button onclick="join('{{ event.name }}')"  id="labelBookMember" class="btn btn-default">Book</button>
					{% else %}
						<a href="{% url 'regismember:transition' %}"><button id="labelBook" class="btn btn-default">Book</button> </a>
					{% endif %}
				{% endif %}
				<a href="{% url 'event:event' %}"> <button  id="labelBook" class="btn btn-default">See more</button> </a>
			</div>
		</div>
		{% if event.price == 'Coming Soon' %}
		{% else %}
		<div style='margin-top:100px'>
				<h3> Who's Coming?</h3>
				<div id="orang" class="table-responsive">
					<table class="table">
						{% for i in orang %}
						<td>
						{{i.username}}
						</td>
						{% endfor %}
						
					</table>
				</div>
		</div>
		{% endif %}
		<div id="modals" class="modal">You already book this event</div>
</div>
	

	

{% endblock %}
