{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'css/eventDetails.css' %}" type="text/css">
</head>
<body>
	<div style='color:#6A5C55; margin-left:2vmax; margin-top:10px'>
		<h1><strong> Events</strong></h1>
		<h4> All the event you need</h4>
	</div>
	<h4 id='label' style="width:126px;padding-left:10px">education</h4>
	<div class="container-fluid bg-3 text-center ">
		<div class="row">
			{% for event in education %}
				<div  class="col-sm col-md">
					<a href="{% url 'event:details' event.name %}"> 
					<img id ='zoom' src= {{ event.pict }}  style ='width:280px; height:400px; '>
					<br>
					<button id='price'  class="btn btn-default">{{ event.price }}</button> 
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	
	
	<h4 id='label' style="width:178px; padding-left:10px" > entertainment</h4>
	<div class='container-fluid bg-3 text-center'>
		<div class="row">
			{% for event in entertainment %}
				<div class="col-md col-sm">
					<a href="{% url 'event:details' event.name %}">
					<img id ='zoom' src= {{ event.pict }} style ='width:280px; height:400px;'>
					<br>
					<button  id="price" class="btn btn-default">{{ event.price }}</button> 
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<br>
</body>
{% endblock %}
