{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'css/eventProfile.css'%}" type="text/css">
</head>

	<div class="container">
		<div class="profile">
			<div class="profile-image">
				<img src="https://i.ibb.co/8BPprWm/Avatar-Penguin-512.png" alt="">
			</div>

			<div class="profile-user-settings">
				<h1 class="profile-user-name">{{username}}</h1>
			</div>

			<div class="profile-bio">
				<p><span class="profile-real-name"> Hello {{nama}}</span></p>
				<p>{{address}}</p>
			</div>
		</div>
		<!-- End of profile section -->
	</div>
	<!-- End of container -->


	<div style="margin-left: 14.5%"><h3>Hi! Here are your booking history</h3></div>
	
	<div class="container-fluid bg-3 text-center">
		<div id='rowws' class="row">
						{% for i in event.all %}
						
						<div  class="col-sm col-md">
							<div class="gallery-item" tabindex="0">
							<center>
								<a href="{% url 'event:details' i.name %}">
								<img src="{{i.pict}}" class="gallery-image" alt="">
								</a>
							</center>
							</div>
						</div>
						
			{% endfor %}
		</div>
	</div>
	<br><br>
	
	
		


{% endblock%}