{% extends "base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="margin-top:30px">
	<div class="row">
	    <div class="col-sm-3">
	    	<div class="list-group">
		      	<h6 align="center">Most Popular</h6>
		  		<a href="https://techno.okezone.com/read/2018/10/17/207/1965165/ini-penyebab-youtube-down-lebih-dari-1-jam" class="list-group-item list-group-item-action flex-column align-items-start active" style="background-color: orange">
			    	<div class="d-flex w-100 justify-content-between" style="margin-left: 8%">
			    		<img src="{% static 'photos/Youtube.png' %}">
			    	</div>
			    	<p class="mb-1" align="left">Ini Penyebab Youtube Down Lebih dari 1 Jam</p>
		  		</a>
				<a href="https://techno.okezone.com/read/2018/10/17/207/1965425/kalibrr-mudahkan-para-pencari-kerja-dengan-teknologi-ai" class="list-group-item list-group-item-action flex-column align-items-start active" style="background-color: orange">
			    	<div class="d-flex w-100 justify-content-between" style="margin-left: 8%">
			    		<img src="{% static 'photos/Kalibrr.png' %}">
			    	</div>
			    	<p class="mb-1" style="margin-left: 5%">Kalibrr Mudahkan Para Pencari Kerja dengan Teknologi AI</p>
		  		</a>
		  		<a href="https://www.cnnindonesia.com/teknologi/20181017165430-384-339252/esemka-masih-mimpi-malaysia-mau-punya-mobnas-baru" class="list-group-item list-group-item-action flex-column align-items-start active" style="background-color: orange">
			    	<div class="d-flex w-100 justify-content-between" style="margin-left: 8%">
			    		<img src="{% static 'photos/Esemka.png' %}">
			    	</div>
			    	<p class="mb-1" align="left">Esemka Masih Mimpi, Malaysia Mau Punya Mobnas Baru</p>
		  		</a>
			</div>
			<div class="row">
				<div class="col-sm-12">
				<img src="{% static 'photos/facebook-4.png' %}">
		<img src="{% static 'photos/instagram-4.png' %}">
		<img src="{% static 'photos/twitter-4.png' %}">
			</div>
		</div>
		
	    </div>

				
		<div class="col-sm-9">
			<div class="row">
				{% for i in headline %}
				<div class="col-sm-6">
					<img src= '{{ i.pict }}' style="width: 380px; height: 212px;">
				</div>
				<div class="col-sm-6">
					<h2>{{ i.name }}</h2>
					<p>{{ i.date }}</p>
					<p>{{ i.description }}<a href="{{i.linkBerita}}">read more</a></p>
					
				</div>
				{% endfor %}
			</div>
			<br>

			<div class="row">
				{% for i in berita %}
				<div class="col-sm-2">
					<img src= '{{ i.pict }}' style="width: 140px; height: 74px;">
				</div>
				<div class="col-sm-10">
					<h6>{{ i.name }}</h6>
					<p style="font-size: 12px">{{ i.date }}</p>
					<article style="font-size: 12px">{{ i.description }} <a href="{{ i.linkBerita }}">read more</a></article>
				</div>

				{% endfor %}
				
			</div>
		</div>
	</div>
</div>

</body>
{% endblock %}
</html>
